<div class="chat-messages">
  <% messages.each do |message| %>
    <% if message.user_id == current_user.id %>
      <div class="message self">
        <div class="message-body">
          <%= message.message %>
        </div>
      </div>
    <% else %>
      <div class="message other">
        <div class="message-sender"><h5><%= message.user.name %></h5></div>
        <div class="message-body">
          <%= message.message %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>