*{
   padding:0;
   margin:0 auto;
   box-sizing: border-box;
}



.flash-notifications{
  font-weight: bold;
  color: white;
  text-align: center;  
}

#notice{
   background-color: #ADD8E6;
}

.alert{
  background-color: #FF4500;
}